main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin-left: 0.1rem;
}

h1{
  font-size: 1.8rem;
  padding: 1rem;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  background-color: 		#383838;
}
.carousel img {
  height: 350px;
  padding: 30px;
  margin: 10px auto;
  border-radius: 10%;
}

.carousel img {
  height: 350px;
  /* padding: 30px; */
  /* margin-left: auto; */
  margin: 30px auto 10px;
  border-radius: 20%;
}

.carousel-caption h2 {
  color: 	#fefefe;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  height: 300px;
  width: 300px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}


.carousel a {
  margin: 0 auto;
  width: 50px;
}
